<div class="pt-32 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <%= render './partials/head'%>
  <div class="flex flex-row  mt-12">
    <%= render 'screens/navigation'%>
    <%= render 'screens/screen_content'%>
  </div>
</div>